<div class="container">
  <h1>GitHub Profile Fights</h1>
  <div class="profile-input col-sm-6 form-group">
    <label for="profile1">First Profile</label><br>
    <input (keyup)="setProfiles()" class="form-control" name="profile1" type="text" placeholder="Enter User Profile Id" [(ngModel)]='profile1'>
  </div>
  <div class="profile-input col-sm-6 form-group">
    <label for="profile2">Second Profile</label><br>
    <input (keyup)="setProfiles()" class="form-control" name="profile2" [(ngModel)]="profile2" type="text" placeholder="Enter User Profile Id">
  </div>
  <div class="btn-group col-xs-12">
    <button class="btn btn-lg btn-info col-sm-6" routerLink="/">Profiles</button>
    <button class="btn btn-lg btn-info col-sm-6" routerLink="/fight">Fight</button>
  </div> 
</div>
<router-outlet></router-outlet>